* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ffe6a7;
  color: #000;
  padding-bottom: 20px;
}

.header-objetivos {
  background-color: #99582A;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border: 2px solid #000;
  margin-bottom: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.cartao {
  display: flex;
  align-items: center;
  background-color: white;
  width: auto;
  height: auto;
  padding: 5px;
  border: 1px solid #000;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #000;
}

.quadrado-imagem {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 10px;
  margin-right: 5px;
}

.textos-cartao {
  flex: 1;
}

.titulo-cartao {
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.sub-cartao {
  font-size: 12px;
  font-style: italic;
  color: #333;
}